table(bgcolor="#FEFEFE" cellpadding="10" cellspacing="10px").content
  include ../_includes/grid
  tr
    td(colspan=1) &nbsp;
    td(colspan=10)
      center
        img(src="https://listet.app/assets/images/logo.gif" alt="Listet App Logo" width="225px" height="59.775px")
    td(colspan=1) &nbsp;
