table(bgcolor="#FEFEFE" cellpadding="10" cellspacing="10px").content
  include ../_includes/grid
  tr
    td(colspan=1) &nbsp;
    td(colspan=10)
      center
        img(src="https://listet.manuelosorio.me/assets/images/logo.gif" alt="Listet" width="225px")
        //img(src="../img/logo.gif" alt="Listet" width="250px")
    td(colspan=1) &nbsp;
