h1 Reset Your Password
p Hi #{firstName},
p There has recently been a password reset request in your account. Please disregard this email if you had not made that request.
a(href=token) Reset Password
p If the link above doesn't work copy and paste this into your browser:
p #{token}
